* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
.hero-title{
    color: white;
}
.hero-p{
    color: white;
}
.intro{
    height: 100vh;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

  /* canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    max-height: 100vh;
    max-width: 100vw;
    transform: translate(-50%, -50%);
  } */

  .intro canvas{
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .intro h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 7rem;
    color: white;
    z-index: 1;
  }
  .intro p{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    color: white;
    z-index: 2;
  }

  .intro{
      background-color: #000;
  }

  section{
      height: 100Vh;
      color: black;
  }

  section{
      padding-top: 20rem;
      text-align: center;
      font-size: 7rem;
  }

  /* #hero-lightpass{
      width: 100%;
      height: 100%;
  } */